<!doctype html>
<html>
 <head>
   <title>Login Test</title>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   <script src="https://apis.google.com/js/platform.js" async defer></script>
   <meta name="google-signin-client_id" content="128963388630-8n6c9bat5p8kpkh6k8dsq2ks2vh6qtsp.apps.googleusercontent.com">
 	<script type="text/javascript">
   		function onSignIn(googleUser) {
			var profile = googleUser.getBasicProfile();
			var id_token = googleUser.getAuthResponse().id_token;
			console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
			console.log('Name: ' + profile.getName());
			console.log('Image URL: ' + profile.getImageUrl());
			console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
			var xhr = new XMLHttpRequest();
			xhr.open('POST', 'http://localhost:8080/demo');
			xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
			xhr.onload = function() {
			  console.log('Signed in as: ' + xhr.responseText);
			};
			console.log('idtoken=' + id_token);
			xhr.send('idtoken=' + id_token);
	   }
	   
	   function signOut() {
	       var auth2 = gapi.auth2.getAuthInstance();
	       auth2.signOut().then(function () {
	         console.log('User signed out.');
	       });
	   }
   </script>
 </head>
 <body>
   <div class="g-signin2" data-onsuccess="onSignIn"></div>
   <a href="#" onclick="signOut();">Sign out</a>
 </body>
</html>